<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/users?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<mapping resource="edu/whut/web/domain/User.hbm.xml"/>
		<mapping resource="edu/whut/web/domain/Organization.hbm.xml"/>	
		<mapping resource="edu/whut/web/domain/Role.hbm.xml"/>			   
	</session-factory>
</hibernate-configuration>
