h1.myH1{ color:#0000ff; margin-top: 1em; margin-bottom: 2em; }
.border {
	border: 1px solid #63A6D6;
}
.myword1 {
	font-family: "ו";
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
